/coverage
.bundle
/vendor/bundle
log/*.log
log/**/*.log
test
tmp/
public/uploads/
public/uploads
public/system/
.sass-cache/
coverage
doc
Gemfile~
nbproject/
nbproject
.idea/
.idea
config/environments/*.local.yml
db/schema.rb
dump.rdb
.irbrc
.DS_Store
profile_pictures/
company_logos/
company_files/
ngrok
